.history
.hypothesis/

# Personal

secret.env
.env

# Brownie

build/
reports/

# Hardhat

artifacts/
cache/
node_modules/
coverage.json
deployments

# MacOS

.DS_Store

# Python

.pytest_cache
__pycache__

# Environments

venv
env
