# Brownie

build/
reports/

# FOUNDRY

out/
broadcast/
cache/

Makefile

# HARDHAT

artifacts/
cache/
node_modules/
coverage.json
deployments

# PRIVATE

env
.env
secret.env
.secret.env

# VIRTUAL ENVIRONMENTS

venv
.venv

# MAC OS

.DS_Store

# PYTHON

.pytest_cache
__pycache__




.history
.hypothesis/
